@tailwind base;
@tailwind components;
@tailwind utilities;

.text-wrapper {
    position: relative;

}

.anim-span {
    position: relative;
    animation: waveAnim 1s;
    animation-delay: calc(.07s * var(--i));
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@keyframes waveAnim {
    0%,40%,100% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-5px);
        color: red;
    }
}