@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Euclid ';
  src: url(/assets/euclid-circular-b-cufonfonts);
}

.box {
  --mask:
    radial-gradient(55.08px at 50% calc(100% + 41.85px),#0000 calc(99% - 6px),#000 calc(101% - 6px) 99%,#0000 101%) calc(50% - 62px) calc(50% - 18.5px + .5px)/124px 37px ,
    radial-gradient(55.08px at 50% -41.85px,#0000 calc(99% - 6px),#000 calc(101% - 6px) 99%,#0000 101%) 50% calc(50% + 18.5px)/124px 37px ;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}